<!DOCTYPE html>
<html lang="cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="/css/blog-core.css">
    <link href="//cdn.bootcss.com/github-markdown-css/2.4.0/github-markdown.min.css" rel="stylesheet">
</head>
<body>
<div class="index-container">
    {% include "side-bar.html" %}
    <div class="post-detail">
        <div class="detail-post-info">
            <h2 class="detail-post-title">{{post.title}}</h2>
            <span class="detail-post-date">{{post.date}}</span>
        </div>
        <div class="detail-post-tags">
            {% for tag in post.tags %}
            <div class="detail-post-tag">
                <a href="/tag/{{tag}}/1">{{tag}}</a>
            </div>
            {% endfor %}
        </div>
        <div class="detail-post-content">{{post.content}}</div>
    </div>
</div>
</body>
</html>