{% extends "blog/base.html" %}
{% block content %}
<div class="post-list">
    <div class="tag-info">
        <h1 class="tag-name">{{name}}</h1>
        <h3 class="tag-post-count">总计 {{count}} 篇</h3>
    </div>
    {% for post in posts %}
    {% include "blog/blog-list.html"%}
    {% endfor %}
    <div class="navigation-bar">
        <a href="/tag/{{name}}/{{prev}}" class="navigator" style="visibility: {{prev|nav-out-of-range?}}">上一页</a>
        <a href="/tag/{{name}}/{{next}}" class="navigator" style="visibility: {{next|nav-out-of-range?}}">下一页</a>
    </div>
</div>
{% endblock %}

