<div class="side-bar">
    <div class="profile">
        <img class="avatar" src="{{avatar}}">
        <div class="intro">
            <h3>Tuzi</h3>
            <p>瞎鸡巴乱折腾</p>
        </div>
    </div>
    <div class="sections">
        <a class="section" data-select="{{section-select|section-select-1?}}" href="/">博文</a>
        <a class="section" data-select="{{section-select|section-select-2?}}" href="/tags">分类</a>
        <a class="section" data-select="{{section-select|section-select-3?}}" href="/about">关于</a>
    </div>
</div>